.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-container__search  {
    font-size: 14px;
    font-weight: 400;
}

.header-container__search input {
    margin-left: 20px;
}

