<app-header [t]="title"></app-header>
<mat-form-field>
  <mat-label>{{searchInputValue}}</mat-label>
  <input matInput (input)="search($event)">
</mat-form-field>

<ng-container *ngIf="patients$ | async as patients; else loader">
  <app-patient-card-list *ngFor="let patient of patients | patientsFilter: searchText" [patient]="patient"></app-patient-card-list>
</ng-container>

<ng-template #loader>
  <div class="loader-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<router-outlet></router-outlet>